<div ng-controller="linkController" class="link-container">
	<div class="row">
		<div class="col-xs-12">
			<div class="no-links" ng-cloak ng-show="notFound">Sorry, the film you were looking for could not be found.</div>

			<h1 ng-cloak ng-show="link.film.title" class="title"><% link.film.title %> (<% link.film.year %>)</h1>
			<p class="link-plot"><% link.film.plot %></p>
			<div class="link-stats" ng-cloak ng-show="link.film.imdb_rating">
				<div class="link-stat">
					<i class="glyphicon glyphicon-star
					"></i> <% link.film.imdb_rating %>
				</div>
				<div class="link-stat">
					<i class="glyphicon glyphicon-time
					"></i> <% link.film.runtime_minutes %> min
				</div>
				<div class="link-stat">
					<i class="glyphicon glyphicon-facetime-video"></i> <% link.resolution.amount %>p
				</div>
				<div class="link-stat">
					<i class="glyphicon glyphicon-comment"></i> <a href="<% link.reddit %>" target="new">Reddit</a>
				</div>
			</div>
		</div>
	</div>
	<div class="row link-information-container" ng-cloak ng-show="link.film.genres">
		<div class="col-sm-3 col-xs-6">
			<div class="link-information">
				<div class="link-information-title">Genres</div> <div class="link-information-entry" ng-repeat="genre in link.film.genres"><% genre.name %></div>
			</div>
		</div>
		<div class="col-sm-3 col-xs-6">
			<div class="link-information">
				<div class="link-information-title">Cast</div> <div class="link-information-entry" ng-repeat="cast in link.film.cast"><% cast.name %></div>
			</div>
		</div>
		<div class="col-sm-3 col-xs-6">
			<div class="link-information">
				<div class="link-information-title">Directors</div> <div class="link-information-entry" ng-repeat="director in link.film.directors"><% director.name %></div>
			</div>
		</div>
		<div class="col-sm-3 col-xs-6">
			<div class="link-information">
				<div class="link-information-title">Languages</div> <div class="link-information-entry" ng-repeat="language in link.film.languages"><% language.name %></div>
			</div>
		</div>
	</div>
</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="embed-responsive embed-responsive-16by9">
			<iframe class="embed-responsive-item" ng-src="<%link.embed%>" allowfullscreen=""></iframe>
		</div>
	</div>
</div>
</div>
</div>
