    /** Link Page **/
    .link-container
    {
        .title
        {
            color: white;
            margin-top: 0;
        }
        .link-plot
        {
            margin-bottom: 7px;
        }
        .link-stats
        {
            .link-stat
            {
                i
                {
                    color: white;
                }
                display: inline-block;
                padding-right: 8px;
                a
                {
                    color: $font-color;
                }
                a:hover
                {
                    color: white;
                }
                a:hover,
                a:focus
                {
                    text-decoration: none;
                }
            }


            padding-bottom: 12px;
        }
        .link-information-container
        {
            padding-bottom: 15px;
            .link-information
            {
                display: inline-block;
                @media(max-width: $screen-sm-size){
                    padding-bottom: 7px;
                }
                .link-information-title
                {
                    color: white;
                    font-weight: bold;
                    display: block;
                    padding-bottom: 4px;;
                }
                .link-information-entry
                {
                    display: block;
                    padding-bottom: 1px;
                    font-size: 12px;
                }
            }
        }
    }